* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d5e1ef;
}

.qr-card {
  width: 25vw; /*molile view er jnno 45vw  and font-size hobe .7rem*/
  margin: 2% auto;
  background-color: white;
  border-radius: 1rem;
}

.qr-card-wrapper {
  padding: 2rem;
}

.qr-img-cont {
  width: 100%;
}

.img {
  width: 100%;
  border-radius: 1rem;
}

.qr-txt-cont {
  margin-top: 1rem;
}

.spacing {
  padding: 1rem;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
  color: #aeafb3;
}

@media screen and (max-width: 376px) {
  .qr-card {
    width: 60vw;
    margin: 2% auto;
    background-color: white;
    border-radius: 0.5rem;
  }
  .qr-card-wrapper {
    padding: 1rem;
  }
  .qr-txt-cont {
    margin-top: 0.5rem;
  }
  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 0.7rem;
    text-align: center;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 0.7rem;
    text-align: center;
    color: #aeafb3;
  }
}
